<h1> <%=@merchant.name%>'s Bulk Dsicounts </h1>
<% @bulk_discounts.each do |bulk_discount| %>
    <section id="bulk_discount-<%=bulk_discount.id%>">
        <p><%=link_to "Bulk Discount: #{bulk_discount.id}", merchant_bulk_discount_path(@merchant, bulk_discount) %></p>
        <p> Percentage discount: <%=float_to_percent(bulk_discount.percentage_discount)%> </p>
        <p> Quantity Threshold: <%=bulk_discount.quantity_threshold%> </p>
    </section>
<%end%>